<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>org.dbunked.tesla-alfred-workflow</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1979ED5B-BE88-4341-8A60-E75252E678C2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5BD199BA-528A-40CC-8553-E7563BFAEFB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>305FF5F6-317E-4DBD-9CD5-00AB2F979055</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FB036392-FDBD-40CE-A19E-F13F4ED157BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E5ED726-6407-4626-A011-E9B3C4D32421</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>96B76B5D-B1D4-4EB9-B710-8BE37DB4B7D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C7CA3FD6-1BC6-47BD-8314-0D1ADAF1732B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>833D1C3F-4A15-40E1-B69E-B7DF9A7E11E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>78E38634-0B7B-4861-9F21-5E383C6442BE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>833D1C3F-4A15-40E1-B69E-B7DF9A7E11E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A9D67860-9F0D-4095-A07E-688993AB3E37</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A52F6F17-4834-4708-B961-8A3964D7B758</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>833D1C3F-4A15-40E1-B69E-B7DF9A7E11E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB2F53F1-FF1B-44F4-A546-8EBD163FBCE3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>86CCF225-F23A-4C9D-A731-8FC77E1936C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3A3F60E2-B703-4EC8-943A-7178755C2B27</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>91D42F44-E0C4-49DA-8016-69B8348451EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>78E38634-0B7B-4861-9F21-5E383C6442BE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>96B76B5D-B1D4-4EB9-B710-8BE37DB4B7D6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FB036392-FDBD-40CE-A19E-F13F4ED157BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A52F6F17-4834-4708-B961-8A3964D7B758</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1979ED5B-BE88-4341-8A60-E75252E678C2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A9D67860-9F0D-4095-A07E-688993AB3E37</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>86CCF225-F23A-4C9D-A731-8FC77E1936C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BAB045A6-AB48-4F83-B9E1-3EA25B93A894</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FB036392-FDBD-40CE-A19E-F13F4ED157BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C7CA3FD6-1BC6-47BD-8314-0D1ADAF1732B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EB5B5B86-B4E6-4724-A044-346F3DC08B73</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FB036392-FDBD-40CE-A19E-F13F4ED157BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1840DF1-BBC3-4F33-B2D3-E44E1BC66508</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dan Bunker</string>
	<key>description</key>
	<string>An Alfred Workflow for interacting with a Tesla vehicle via the unofficial Tesla JSON API</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Tesla Alfred Workflow</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>--api api_climate_on</string>
				<key>argumenttype</key>
				<integer>3</integer>
				<key>triggerid</key>
				<string>tesla-climate-on</string>
				<key>triggername</key>
				<string>Climate On</string>
				<key>workflowonly</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>305FF5F6-317E-4DBD-9CD5-00AB2F979055</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Completed command: {var:command}</string>
				<key>title</key>
				<string>Tesla Alfred Command</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C1840DF1-BBC3-4F33-B2D3-E44E1BC66508</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>--api api_climate_off</string>
				<key>argumenttype</key>
				<integer>3</integer>
				<key>triggerid</key>
				<string>tesla-climate-off</string>
				<key>triggername</key>
				<string>Climate Off</string>
				<key>workflowonly</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>BAB045A6-AB48-4F83-B9E1-3EA25B93A894</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python api-script.py {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FB036392-FDBD-40CE-A19E-F13F4ED157BF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^--api.*</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>96B76B5D-B1D4-4EB9-B710-8BE37DB4B7D6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>tesla-vin-trigger</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>EB5B5B86-B4E6-4724-A044-346F3DC08B73</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>tesla</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>python tesla-alfred-app.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Interact with a Tesla Motors vehicle</string>
				<key>title</key>
				<string>Tesla Alfred App</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3E5ED726-6407-4626-A011-E9B3C4D32421</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>vin</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>C7CA3FD6-1BC6-47BD-8314-0D1ADAF1732B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python set-credentials-script.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DB2F53F1-FF1B-44F4-A546-8EBD163FBCE3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>credentials</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>833D1C3F-4A15-40E1-B69E-B7DF9A7E11E5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python set-vin.py {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>86CCF225-F23A-4C9D-A731-8FC77E1936C6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query} successfully set as the active vehicle</string>
				<key>title</key>
				<string>Tesla Alfred Set Active Vehicle</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3A3F60E2-B703-4EC8-943A-7178755C2B27</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>tesla-vin-trigger</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>91D42F44-E0C4-49DA-8016-69B8348451EB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>tesla-activate</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Vehicles...</string>
				<key>script</key>
				<string>python set-vin-app.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Set the active vehicle for Tesla Alfred App</string>
				<key>title</key>
				<string>Tesla Alfred App - Set Active Vehicle</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>78E38634-0B7B-4861-9F21-5E383C6442BE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^--vin.*</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>A9D67860-9F0D-4095-A07E-688993AB3E37</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Vehicle list has been refreshed</string>
				<key>title</key>
				<string>Tesla Alfred Refresh Vehicle List</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5BD199BA-528A-40CC-8553-E7563BFAEFB7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python refresh-vehicles.py {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1979ED5B-BE88-4341-8A60-E75252E678C2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>refresh_vehicles</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>A52F6F17-4834-4708-B961-8A3964D7B758</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1979ED5B-BE88-4341-8A60-E75252E678C2</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>660</integer>
		</dict>
		<key>305FF5F6-317E-4DBD-9CD5-00AB2F979055</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>3A3F60E2-B703-4EC8-943A-7178755C2B27</key>
		<dict>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>3E5ED726-6407-4626-A011-E9B3C4D32421</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>5BD199BA-528A-40CC-8553-E7563BFAEFB7</key>
		<dict>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>660</integer>
		</dict>
		<key>78E38634-0B7B-4861-9F21-5E383C6442BE</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>833D1C3F-4A15-40E1-B69E-B7DF9A7E11E5</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>86CCF225-F23A-4C9D-A731-8FC77E1936C6</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>91D42F44-E0C4-49DA-8016-69B8348451EB</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>96B76B5D-B1D4-4EB9-B710-8BE37DB4B7D6</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>A52F6F17-4834-4708-B961-8A3964D7B758</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>660</integer>
		</dict>
		<key>A9D67860-9F0D-4095-A07E-688993AB3E37</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>BAB045A6-AB48-4F83-B9E1-3EA25B93A894</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>C1840DF1-BBC3-4F33-B2D3-E44E1BC66508</key>
		<dict>
			<key>xpos</key>
			<integer>780</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>C7CA3FD6-1BC6-47BD-8314-0D1ADAF1732B</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>DB2F53F1-FF1B-44F4-A546-8EBD163FBCE3</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>EB5B5B86-B4E6-4724-A044-346F3DC08B73</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>FB036392-FDBD-40CE-A19E-F13F4ED157BF</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
